.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(177, 78, 177);
}

.logo {
  color: white;
  margin: 0 80px;
  padding: 5px;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  color: yellow;
}

.link {
    text-decoration: none;
}

/* To make it responsive */
@media (max-width: 576px)
{
    .navbar {
        font-size: 12px;
    }
}


