.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(230, 229, 230);
  border-bottom: 1px solid rgb(186, 184, 184);
}

.logo {
  color: rgb(0, 0, 0);
  margin: 0 80px;
  padding: 5px;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  color: yellow;
}

.link {
    text-decoration: none;
}

/* To make it responsive */
@media (max-width: 576px)
{
    .navbar {
        font-size: 12px;
    }
}


